html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

:root {
  --color-light: #fff;
  --color-bg: #ededed;
  --color-txt: #1a1a1a;
  --color-link: #838383;
  --color-link-hover: #5375d4;
  --color-link-active: #000000;
  --color-link-alt: #a18b72;
  --color-link-alt-hover: #53664f;
  --color-border: var(--color-link);
  --color-border-hover: var(--color-txt);
  --color-border-light: #b3b3b3;
  --color-time-zone: rgba(255, 255, 255, 0.33);
  --bold: 500;
  --border-height: 0.15em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #000;
    --color-bg: #1a1a1a;
    --color-txt: #ededed;
    --color-link: #b4b4b4;
    --color-link-hover: #859de0;
    --color-link-active: #cbdbff;
    --color-link-alt: #71896d;
    --color-link-alt-hover: #95b88f;
    --color-border: var(--color-link);
    --color-border-hover: var(--color-txt);
    --color-border-light: #565656;
    --color-time-zone: rgba(33, 33, 33, 0.33);
    --bold: 500;
    --border-height: 0.11em;
  }
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-txt);
  background-color: var(--color-bg);
  height: 100%;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

p.me {
  position: fixed;
  bottom: 2em;
  right: 2em;
}
p.me a {
  color: var(--color-link-alt);
  font-weight: var(--bold);
  text-decoration: none;
  -webkit-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}
p.me a:hover {
  color: var(--color-link-alt-hover);
}

header nav {
  padding-left: 3em;
  padding-right: 3em;
  border-bottom: var(--border-height) solid var(--color-border-light);
}
header nav ul.navbar {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1em;
  --underline-width: 0;
  --underline-offset-x: 0;
}
header nav ul.navbar::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: var(--border-height);
  width: var(--underline-width);
  -webkit-transform: translateX(var(--underline-offset-x));
          transform: translateX(var(--underline-offset-x));
  background-color: var(--color-link-active);
  -webkit-transition: width 0.5s, -webkit-transform 0.5s;
  transition: width 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s, -webkit-transform 0.5s;
}
header nav ul.navbar li {
  text-align: center;
}
header nav ul.navbar li:hover span, header nav ul.navbar li:hover a {
  color: var(--color-link-hover);
}
header nav ul.navbar li:hover span {
  background-color: var(--color-light);
  -webkit-transform: translateY(-0.33em);
          transform: translateY(-0.33em);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
header nav ul.navbar li span {
  display: inline-block;
  padding: 1em;
  margin-bottom: 2em;
  width: 80px;
  min-height: 80px;
  line-height: 1.11;
  font-size: 1.11em;
  font-weight: var(--bold);
  border-radius: 50%;
  background-color: var(--color-time-zone);
  color: var(--color-link);
  -webkit-transition: all 0.33s ease-in-out;
  transition: all 0.33s ease-in-out;
}
header nav ul.navbar li span:hover {
  color: var(--color-link-hover);
}
header nav ul.navbar li a {
  text-decoration: none;
  color: var(--color-link);
  font-size: 1.3rem;
  margin: 0 1.5em;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.11s ease;
  transition: all 0.11s ease;
  display: block;
}
header nav ul.navbar li a.active {
  color: var(--color-link-active);
}
::-moz-focus-inner {
  border: 0;
}

@media (max-width: 1024px) {
  header nav {
    border-bottom: none;
    padding: 0;
  }
  header nav ul.navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  header nav ul.navbar::before {
    display: none;
  }
  header nav ul.navbar li {
    margin-bottom: 1.33em;
  }
  header nav ul.navbar li span {
    width: auto;
    min-height: auto;
    margin-bottom: 0.11em;
    border-radius: 4px;
    padding: 0.33em;
  }
  header nav ul.navbar li a {
    margin: 0;
  }
  header nav ul.navbar li a.active {
    font-weight: var(--bold);
  }
  header nav ul.navbar li:last-child {
    margin-bottom: 0;
  }
  header nav ul.navbar li:hover span {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
:after,
:before {
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    background-attachment: scroll !important;
    scroll-behavior: auto !important;
    -webkit-transition-delay: 0 !important;
    transition-delay: 0 !important;
    -webkit-transition-duration: 0 !important;
    transition-duration: 0 !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
@media (hover: hover) and (pointer: fine) {
  .container > *:hover {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
}